/*
 * jQuery UI Datepicker 1.10.3
 *
 * Copyright 2013, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://jqueryui.com/datepicker/
 */
.ui-datepicker {
	background-color: #fff;
	border: 1px solid #66AFE9;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(102,175,233,.6);
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 240px;
}

.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}

.ui-datepicker .ui-datepicker-header {
	position:relative;
	padding: .2em 0;
	border: 0;
	font-weight: bold;
	width: 100%;
	padding: 4px 0;
	background-color: #f5f5f5;
	color: #808080;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 7px;
	width: 1.8em;
	height: 1.8em;
	cursor:pointer;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	/*top: 1px;*/
}
.ui-datepicker .ui-icon{ display:none}
.ui-datepicker .ui-datepicker-prev {
	left: 10px;
	font-family:FontAwesome;
}

.ui-datepicker .ui-datepicker-next {
	right: 2px;
	font-family:FontAwesome;
}

.ui-datepicker .ui-datepicker-prev-hover {
	/*left:1px;*/
}

.ui-datepicker .ui-datepicker-next-hover {
	/*right:1px;*/
}

.ui-datepicker .ui-datepicker-prev:before {
	content: "\f137";
}
.ui-datepicker .ui-datepicker-next:before {
	content: "\f138";
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}

.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin:0 0 .4em;
}

.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}

.ui-datepicker td {
	border: 0;
	padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding:0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow:visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */

.ui-datepicker.ui-datepicker-multi {
	width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
	border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}

.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0em;
}

/* RTL support */

.ui-datepicker-rtl {
	direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: right;
}

.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
	display: none; /*sorry for IE5*/
	display/**/: block; /*sorry for IE5*/
	position: absolute; /*must have*/
	z-index: -1; /*must have*/
	filter: mask(); /*must have*/
	top: -4px; /*must have*/
	left: -4px; /*must have*/
	width: 200px; /*must have*/
	height: 200px; /*must have*/
}

.ui-datepicker th {
	font-weight: bold;
	color: gray;
}

.ui-datepicker-today a:hover {
	background-color: #808080;
	color: #ffffff;

}
.ui-datepicker-today a {
	background-color: #BFBFBF;
	cursor: pointer;
	padding: 0 4px;
	margin-bottom: 0;
}

.ui-datepicker td a {
	margin-bottom: 0;
	border: 0;
}

.ui-datepicker td:hover {
	color: #ffffff;
}

.ui-datepicker td .ui-state-default {
	border: 0;
	background:none;
	margin-bottom: 0;
	padding: 5px;
	color: black;
	text-align: center;
	filter: none;
}
.ui-state-disabled  .ui-state-default{ color:gray !important;}
.ui-datepicker td .ui-state-highlight{
	color: #ffffff;
	background-color: #5bc0de;
	border-color: #46b8da;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px; /* Safari 4 */
	-moz-border-radius: 4px; /* Firefox 3.6 */
	border-radius: 4px;
}

.ui-datepicker td .ui-state-active {
	color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
	margin-bottom: 0;
	font-size: normal;
	text-shadow: 0;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px; /* Safari 4 */
	-moz-border-radius: 4px; /* Firefox 3.6 */
	border-radius: 4px;
}

.ui-datepicker td .ui-state-hover {
	color: #ffffff;
	background: #428bca;
	background-color: #428bca;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #357ebd;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px; /* Safari 4 */
	-moz-border-radius: 4px; /* Firefox 3.6 */
	border-radius: 4px;
}