#wrapper{
    background-color: #EBEEF0;
    color:#2b3d4c;
    margin:0;
    padding:0;
    font-size:14px;
    min-height: 800px;
    width:100%;
    padding-bottom:100px;
}
.table{
    margin-top:10px;
}
.box{
    margin-top: 25px;
    background-color:#fff;
    border-radius:4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
    padding-bottom: 20px;
}
.table-heading thead tr{
    background-color: #f5f6f7;
    font-size: 14px !important;
    line-height: 30px;
    color: #798c9c;
    font-weight: normal;
    letter-spacing: 1px;
    border-bottom: 1px solid #ddd;
}
/*--------Menu Section--------*/
.menu-section{
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    position: relative;
    background: #6091ba!important;
}
.navbar{
    margin-bottom:0px !important;
}
.navbar-nav > li > a {
    padding:15px 15px !important;
    font-size:14px;
    line-height:31px !important;
    color:#545862;
}
.navbar-default{
    background: #6091ba !important;
    border-color: #6091ba !important;
}
.navbar-default .navbar-nav > li > a {
    position: relative;
    display: block;
    padding:10px 20px !important;
    color: #fff !important;
    font-size:16px !important;
    background: #6091ba !important;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff!important;
    background-color:#4678a1 !important;
}
.navbar-default .navbar-nav > li:first-child {

}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff!important;
    background-color:#4678a1 !important;
}
nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color:#4678a1 !important;
    border-color: #000 !important;
    border-color: #000 !important;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent !important;
}
.menu-section .dropdown-menu {
    background-color:#4678a1 !important;
}
.menu-section .dropdown-menu > li > a {
    color:#fff !important;
    display: block;
    padding: 10px 20px !important;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    border-bottom: 1px solid #3e6a8f;
    transition: all 0.3s ease-in-out 0s;
}
.menu-section .dropdown-menu > li > a:hover {
    color:#fff !important;
    background-color:#3e6a8f !important;
}
.menu-section .dropdown-menu > li > a:hover,
.menu-section .dropdown-menu > li > a:focus {
    background-color:#3e6a8f !important;
    border-bottom:1px solid #3e6a8f;
    color: #ffffff;
    text-decoration: none;
}
.navbar-toggle {
    color: #fff;
}




.disable{opacity: 0.5}


.select2-drop{ width:auto !important}
.fixed-table-container tbody td,.bootstrap-table .table > thead > tr > th,.fixed-table-container{border:none}
.fixed-table-body{height:auto}
.fixed-table-container tbody td a{ padding:5px; }
#add_custom_status{ margin-left:20px;}
.fixed-table-toolbar .bars, .fixed-table-toolbar .search, .fixed-table-toolbar .columns{margin-top:0px;margin-bottom:0px}

.editableform-loading {
    background: url('../img/loading.gif') center center no-repeat !important;
}

.email_department{display: none  }

.box-shadow
{
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    margin-top: 25px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.padding2{padding-bottom: 10px;}

.nav-tab-wrapper .active>a {
    color: #fff !important;
    background-color: #223741;
    border-bottom: 1px solid #0fabea;
    border-right: none;
    border-bottom: 0;
}
ul.nav-tab-wrapper li a {
    background: #fff;
    color: #223741;
    line-height: 18px;
    display: block;
    font-size: 15px;
    position: relative;
    padding: 12px 10px;
    border: 1px solid #ddd;
    border-bottom: none !important;
    margin: 0;
}
ul.nav-tab-wrapper {
    list-style: none;
}
.padd-bottom{
    padding-bottom: 0px !important;
}

.divider{height: 2px;
    margin-top: 15px ;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: #e5e5e5;
}
/*--------Homepage instruction-----------*/
.instruction-box{
    margin-bottom:20px;
}
.instruction-box p{
    font-size:15px;
    line-height:26px;
    color:#727272;
    letter-spacing:0.2px;
}
.top-text{
    font-size:24px !important;
    color: #212529 !important;
    font-weight:normal !important;
}
.panel-heading {
    padding: 10px 15px;
    font-size: 18px;
    line-height: 25px;
    color: #2b3d4c;
    border-bottom: 1px solid #eee !important;
}


/*------Help & Support-----------------------*/
.content h2 {
    font-size:20px;
    margin-bottom:20px;
}
.content h2 a{
    font-size:20px;
}
.panel {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-bottom:none !important;
    border-radius: 4px;
    box-shadow:none !important;
}
.accordion .panel.panel-default > .panel-heading {
    padding: 10px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #ddd !important;
    background:#ffffff;
    color: #2E4258;
}
.accordion .panel-heading span {
    font-weight:normal !important;
    margin-right:6px;
}
.help-content{
    padding:40px !important;
}
.help-content p{
    /* 	color:#737476; */
    margin-bottom: 25px;
    letter-spacing: 0.6px;
    font-weight:400;
    font-size: 15px;
}
a{
    text-decoration: none !important;
}
.accordion-toggle{
    font-size:15px;
    letter-spacing:0.6px;
    font-weight: 600;
}
.order-btn-top{padding-top:22px;text-align:right;}

#order tbody tr td:nth-child(2), #order tbody tr td:nth-child(9){
    width:100px;
}
.orders_all .search{width:300px;}
.bulk_actions{display: none;}
/*-----Filter Dropdown---------*/

.filter-group .btn-filter{
    background-color: #ffffff !important;
    color: #479ccf !important;
    border: 1px solid #d3dbe2 !important;
    border-radius:2px !important;
}
.filter-group .btn-filter:hover{
    background-color: #f1f1f1 !important;
}
.filter-group .dropdown-menu > li > a {
    color: #479ccf !important;
    padding:6px 8px !important;
    display: block;
    border-bottom: 1px solid #eee;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    transition: all 0.3s ease-in-out 0s;
}
.filter-group .dropdown-menu > li > a:hover {
    color: #ffffff !important;
    background: #479ccf !important;
    border-color:#479ccf !important;

}
.orders_all > #filter-bar{margin-bottom: 5px;}


/*------Order-details------------------------*/
.iframe-body{
    background: transparent !important;
}
.cus-lookup{
    background: #fff;
    border-radius: 4px;
    margin: 14px 0px;
    padding: 15px 15px 0px 15px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0,0,0,0.4) !important;
}
.order-info .order-info-head {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.12) !important;
    border: none !important;
    border-top: 1px solid #ddd !important;
    margin-bottom:15px;
}

.order-info .panel {
    margin-bottom:15px!important;
    border:1px solid #ddd !important;
    color: #2b3d4c;
    border-radius:2px !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.order-info .panel-heading h4 {
    font-size: 16px;
    margin:0 !important;
    color: #2b3d4c;
}
.order-info h2{
    margin-top:0px !important;
    margin-bottom:10px !important;
    font-size:22px;
    color: #2b3d4c;
    font-family: 'OpenSansBold';
}
.order-info h4{
    margin-top:0px !important;
    margin-bottom:10px !important;
    font-size:16px;
    color: #2b3d4c;
    font-family: 'OpenSansBold';
}
.order-info p {
    color: #2b3d4c;
    font-family: 'OpenSansSemiBold';
}
.order-info.lookup-order-table {
    margin:10px 0;
    border-radius:4px !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.order-info .table tr th h4 {
    font-size:16px;
    color: #2b3d4c;
    font-family: 'OpenSansBold';
    margin: 0 !important;
    padding: 5px;
}
.order-info .table tr td {
    color: #2b3d4c;
    font-size:15px;
    font-family: 'OpenSansSemiBold';
    padding-left: 15px;
}
.order-info address {
    font-size:14px;
    font-family: 'OpenSansSemiBold';
}
.order-total{
    font-size:16px;
    font-family: 'OpenSansBold';
}
.order-info .btn-area {
    padding:10px 0;
    margin:10px 0;
    overflow: hidden;
}
.textarea-control{
    height:auto !important;
}
.textarea-lb{
    color: #2b3d4c;
    font-size:15px;
    margin-top:0;
    font-family: 'OpenSansSemiBold';
}

.bootstrap-table .table{    table-layout: fixed;}
.bootstrap-table .table td{ overflow: hidden}